header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  width: 100%;
  padding: 18px;
}

nav {
  display: flex;
  gap: 36px;
  color: #385B4F;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: whitesmoke;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-size: 20px;
}

a:visited {
  text-decoration: none;
}

nav > a {
  /* color: #385B4F; */
  font-size: 32px;
  font-weight: bold;
}
